<?xml version="1.0"?>
<robot name="navrover" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <!-- Define command and state interfaces -->
        <!-- <joint name = "left_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1.5</param>  
                <param name="max">1.5</param>    
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name = "left_rear_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1.5</param>  
                <param name="max">1.5</param>    
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name = "right_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1.5</param>  
                <param name="max">1.5</param>    
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name = "right_rear_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1.5</param>  
                <param name="max">1.5</param>    
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint> -->

        <joint name = "left_rocker_arm_joint">
            <command_interface name="position">
                <param name="min">-0.261799</param>
                <param name="max">0.261799</param>
            </command_interface>
            <state_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name = "right_rocker_arm_joint">
            <command_interface name="position">
                <param name="min">-0.261799</param>
                <param name="max">0.261799</param>
            </command_interface>
            <state_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

  <gazebo>
    <!-- Joint state publisher -->
    <plugin filename="libgz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find navrover_control)/config/navrover_controllers.yaml</parameters>
    </plugin>
    <!-- Gz Sim Joint Position Controller System-->
    <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>left_rocker_arm_joint</joint_name>
        <topic>/left_rocker_position_controller/commands</topic>
        <p_gain>8.0</p_gain>
        <i_gain>5.0</i_gain>
        <d_gain>5.0</d_gain>
    </plugin>
    <!-- Gz Sim Joint Position Controller System-->
    <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>right_rocker_arm_joint</joint_name>
        <topic>/right_rocker_position_controller/commands</topic>
        <p_gain>8.0</p_gain>
        <i_gain>5.0</i_gain>
        <d_gain>5.0</d_gain>
    </plugin>

  </gazebo>

</robot>
