<?xml version="1.0"?>
<robot name="navrover" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <!-- Define command and state interfaces -->
        <joint name = "left_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1.5</param>  <!-- Adjusted min value based on velocity -->
                <param name="max">1.5</param>    <!-- Adjusted max value based on velocity -->
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name = "left_rear_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1.5</param>  <!-- Adjusted min value based on velocity -->
                <param name="max">1.5</param>    <!-- Adjusted max value based on velocity -->
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name = "right_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1.5</param>  <!-- Adjusted min value based on velocity -->
                <param name="max">1.5</param>    <!-- Adjusted max value based on velocity -->
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name = "right_rear_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1.5</param>  <!-- Adjusted min value based on velocity -->
                <param name="max">1.5</param>    <!-- Adjusted max value based on velocity -->
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name = "left_rocker_arm_joint">
            <command_interface name="effort">
                <param name="min">-0.261799</param>
                <param name="max">0.261799</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name = "right_rocker_arm_joint">
            <command_interface name="effort">
                <param name="min">-0.261799</param>
                <param name="max">0.261799</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

  <gazebo>
    <!-- Joint state publisher -->
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find navrover_control)/config/navrover_controllers.yaml</parameters>
      <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
    </plugin>
  </gazebo>

</robot>
