<?xml version="1.0"?>

<model>
  <name>nights_and_weekends_s5</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Joel Georgie Jacob</name>
    <email>joelgj02@gmail.com</email>
  </author>

  <description>
    This is an example of a nights_and_weekends_s5 model.
  </description>
</model>
