move_base:
 base_global_planner: "navfn/NavfnROS"
 base_local_planner: "base_local_planner/TrajectoryPlannerROS"
 
 recovery_behaviors: [
   {name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery},
   {name: rotate_recovery, type: rotate_recovery/RotateRecovery},
   {name: move_slow_and_clear, type: move_slow_and_clear/MoveSlowAndClear}
 ]
 
 planner_frequency: 2.0
 planner_patience: 3.0
 oscillation_timeout: 5.0
 oscillation_distance: 0.15

 # Load the recovery behaviors parameters
 aggressive_reset:
   reset_distance: 3.0

 rotate_recovery:
   frequency: 20.0
   sim_time: 2.0
   angular_sim_granularity: 0.1
   linear_sim_granularity: 0.025
   angular_vel_max: 1.0
   linear_vel_max: 0.5
   obstacle_range: 7.0
   costmap_clearing_threshold: 0.1
   escape_vel: -0.1

 move_slow_and_clear:
   clearing_distance: 0.5
   limited_trans_speed: 0.1
   limited_rot_speed: 0.4
   limited_distance: 0.3