recovery_behaviors:
  - name: 'aggressive_reset'
    type: 'clear_costmap_recovery/ClearCostmapRecovery'
  - name: 'rotate_recovery'
    type: 'rotate_recovery/RotateRecovery'
  - name: 'move_slow_and_clear'
    type: 'move_slow_and_clear/MoveSlowAndClear'

aggressive_reset:
  reset_distance: 2.5  # Slightly reduced to be more conservative

rotate_recovery:
  frequency: 20.0
  sim_time: 1.7
  angular_sim_granularity: 0.075
  linear_sim_granularity: 0.019
  angular_vel_max: 1.3  # Reduced
  linear_vel_max: 0.6  # Reduced
  obstacle_range: 5.0
  costmap_clearing_threshold: 0.18

move_slow_and_clear:
  clearing_distance: 0.5
  limited_trans_speed: 0.5  # Reduced
  limited_rot_speed: 1.0  # Reduced
  limited_distance: 0.9